{% extends "base.html" %}

{% block script %}
  <script src="{{ url_for('static', filename='gis.js') }}"></script>
{% endblock %}

{%block content %}  
    <div id="info">
    	
    	<h1>News Clippings from Mathrubhumi Thrissur edition 17/12/2015 to 31/12/2015</h1>
        <p>Click on a red square to read the news.</p>
        <p>Click on the amber circles to view the user-defined points; to
        add new point go to the 'Add' link</p>
        
        <p>Click on the +/- near the top left corner to zoom in and out.
        </p>
        <div id="responseText">
        </div>
    	<div id="responseTextUser">
    	</div>
    </div>
      <div id="map" class="smallmap"></div>

    <div id="docs">
    </div>
    <script type="text/javascript">
      {% if data %}
        var points = [];
        {% for point in data %}
        points.push({
          lon: parseFloat('{{ point[0] }}'),
          lat: parseFloat('{{ point[1] }}'),
          date: '{{ point[2] }}',
          details: '{{ point[3][0:len(point[3])-1] }}'});
        {% endfor %}
      {% else %}
        console.log("Data not received");
      {% endif %}
      load(points);
    </script>
{% endblock %}
