{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block script %}
  <script src="{{ url_for('static', filename='gis_input.js') }}"></script>
{% endblock %}

{%block content %}  
    <div id="info">
    	
    	<h1>Experimental Point Input Page</h1>
        <p>Click on the map to add new point.</p>
        
        <p>Click on the +/- near the top left corner to zoom in and out.
        </p>
        <div id="responseText">
        </div>
    
    </div>
      <div id="map" class="smallmap"></div>

    <div id="docs">
    </div>
    <script type="text/javascript">
        load();
    </script>
{% endblock %}
